%h1 Signup!

= simple_form_for @user, url: '/users', html: { role: 'form' } do |f|
  = f.input :firstname, label: 'Firstname', required: false
  = f.input :lastname, label: 'Lastname', required: false
  = f.input :email, label: 'Email', required: false
  = f.input :password, label: 'Password', required: false
  = f.input :password_confirmation, label: 'Password confirmation', required: false
  = f.submit "Sign up", input_html: { class: 'btn btn-default', role: 'button' }
