%h2 Edit poll
= simple_form_for @poll do |f|
  = f.input :title, required: false
  %h3 Options
  #options
    = f.simple_fields_for :options do |option|
      = render 'option_fields', f: option
    .links
      = link_to_add_association 'Add option', f, :options, class: 'btn btn-info'
  = f.button :submit, 'Update poll', class: 'btn btn-success btn-lg'
