%h1
  = @poll.title
  %span.label{class: bootstrap_label_class_for_poll_status(@poll.status)}= @poll.status
  %small
    by
    %b= link_to @poll.user.full_name, user_polls_path(@poll.user)
    opened
    %b= @poll.open_date

%table.table
  - @poll.options.each_with_index do |option, index|
    %tr
      %td.col-md-1
        - if @poll.open? && !@already_taken
          = button_to 'Vote!', create_vote_path(option), class: 'btn btn-default', confirm: "Are you sure?"
      %td.col-md-1
        %span.badge{'style' => "font-size: 36px"}
          = option.votes_count
      %td.col-md-10
        = option.title

- if current_user
  - if @poll.draft?
    = link_to 'Edit', edit_poll_path(@poll), class: 'btn btn-primary btn-lg'
    - if @poll.ready?
      = button_to 'Open!', poll_change_status_path(@poll, :open), class: 'btn btn-success btn-lg', data: { confirm: 'Are you sure?'}
  - if !@poll.closed?
    = button_to 'Close!', poll_change_status_path(@poll, :close), class: 'btn btn-danger btn-lg', data: { confirm: 'Are you sure?'}
