%h1
  = @poll.title
  %small
    by
    %b= link_to @poll.user.full_name, user_polls_path(@poll.user)
    opened
    %b= @poll.open_date

.btn-group{role: 'group'}
- if @poll.open?
  = submit_tag 'Opened', type: 'button', disabled: true, class: 'btn btn-success'
- elsif @poll.closed?
  = submit_tag 'Closed', type: 'button', disabled: true, class: 'btn btn-danger'
- elsif @poll.draft?
  = submit_tag 'Draft', type: 'button', disabled: true, class: 'btn btn-warning'

- if !@poll.closed?
  = button_to 'Close poll!', poll_change_status_path(@poll, :close), class: 'btn btn-danger'
- if @poll.draft?
  = button_to 'Open poll!', poll_change_status_path(@poll, :open), class: 'btn btn-success'

%table.table
  %tr
    %th.col-md-1 Position
    %th.col-md-1
    %th.col-md-7 Option
    %th.col-md-3 Votes taken
  - @poll.options.each_with_index do |option, index|
    %tr
      %td= index+1
      %td
        -# unless @already_taken
        = button_to 'Vote!', create_vote_path(option), class: 'btn btn-default', confirm: "Are you sure?"
      %td
        = option.title

      %td= option.votes_count

