!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pollynesia - simple voting system
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar
      .container-fluid
        .navbar-header
          .navbar-brand
            = link_to 'Pollynesia', root_path
        - if current_user
          %ul.nav.navbar-nav
            %li= link_to 'My polls', user_polls_path(current_user)
            %li= link_to 'Create new poll', new_poll_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              %p.navbar-text
                Signed in as
                = current_user.email
            %li
              = link_to "Logout", '/logout'
          - else
            %li
              = form_tag '/login', class: 'navbar-form' do |f|
                .form-inline
                  = email_field_tag :email, nil, placeholder: 'Your email', class: 'form-control'
                  = password_field_tag :password, nil, placeholder: 'Your password', class: 'form-control'
                  = submit_tag 'Sign in', class: 'btn btn-default'
            %li
              = link_to 'Sign up', signup_path
    .container-fluid

      - flash.each do |type, message|
        .alert.fade.in{class: bootstrap_alert_class_for_flash_type(type)}
          %button.close{'data-dismiss' => 'alert'}×
          = message

      = yield

